.Container {
  padding: calc(3.5vw) 2vw;
  /* position: relative; */
  height: 560px;
  position: relative;
  margin: 0 auto;
  margin-top: 90px;
  background: #030b17;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  width: 97%;
}
.BackgroundImage {
  /* position: fixed; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 42%;
  right: 0;
  /* z-index: -1; */
}
.gradient {
  top: 0;
  left: calc(42%);
  width: 200px;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: linear-gradient(to right, #030b17, rgba(0, 0, 0, 0));
}
.img {
  width: 100%;
  /* height: 58.9%; */

  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  display: block;
}
.Imagetitle {
  width: 40%;
  text-align: left;
}

.Control {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
  /* position: absolute; */
}

.Controldiv {
  display: flex;
}
.Controldiv > button {
  display: block;
  margin: 0px 19px;
  cursor: pointer;
}
.lang {
  display: flex;
}

.button {
  border-radius: 4px;
  background-color: #f94610;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:after {
  /* content: '\00bb'; */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.button:hover {
  padding-right: 25px;
}

.button:hover:after {
  opacity: 1;
  right: 0;
}
.btn {
  display: flex;
  flex-direction: row;
  background: transparent;
  color: white;
  border: none;
}
.SubscriberColor {
  color: #e5bb44;
}
